fastapi
uvicorn
python-multipart
mediapipe
opencv-python
numpy
torch
torchvision
torchgeometry
tensorboardX
Pillow
requests
protobuf==4.25.3
jwt
pydantic
bcrypt
pyjwt
python-dotenv
requests
onnxruntime
gradio_client